import streamlit as st
import pandas as pd
import torch
from transformers import DistilBertTokenizer, DistilBertModel
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np
from groq import Groq
from sklearn.metrics import f1_score, confusion_matrix, classification_report